
:root {
    --primary: #232946;
    --secondary: #EEBBC3;
    --thirty: #B8C1EC;
    --bg-main: #121629;
    --card: #FFFFFE;
}
@font-face {
    font-family: "Josefin Sans";
    src: url("/fonts/josefin-sans/JosefinSans-regular.ttf") format('truetype');
}
@font-face {
    font-family: "Verdana";
    src: url("/fonts/verdana/verdana.ttf") format('truerype');
}
body {
    background-color: var(--bg-main);
    color: #212529;
    margin: 0;
}
.content {
    margin-left: 400px; /* Margin kiri diubah sesuai dengan lebar sidebar baru */
    padding: 20px;
}
th.actions {
    display: flex; /* Menambahkan display flex pada th actions */
    justify-content: space-between; /* Menambahkan justify-content untuk memisahkan tombol */
}

table {
    border: 1px solid #dee2e6; /* Menambahkan border pada tabel */
}

th, td {
    border: 1px solid #dee2e6; /* Menambahkan border pada sel tabel */
}