:root {
    --primary: #232946;
    --secondary: #eebbc3;
    --secondary-hover: #f3d3d8;
    --thirty: #b8c1ec;
    --thirty-hover: #d5daf4;
    --bg-main: #121629;
    --card: #fffffe;
}
@font-face {
    font-family: "Josefin Sans";
    src: url("/fonts/josefin-sans/JosefinSans-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Verdana";
    src: url("/fonts/verdana/verdana.ttf") format('truerype');
}
body {
    background-color: var(--bg-main);
    font-family: "Verdana";
}
.content {
    margin-left: 400px; 
    display: flex;
    height: 100vh;
}
.card-container {
    display: flex;
    justify-content: center;
}
.card {
    width: 80%;
}