:root {
    --primary: #232946;
    --secondary: #eebbc3;
    --secondary-hover: #f3d3d8;
    --thirty: #b8c1ec;
    --thirty-hover: #d5daf4;
    --bg-main: #121629;
    --card: #fffffe;
}
body {
    background-color: var(--bg-main);
    color: #212529;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: var(--primary);
    height: 100vh;
    padding: 20px 0;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-size: 22px;
}

.sidebar a:hover {
    background-color: #495057;
}

.content {
    margin-left: 400px;
    padding: 20px;
    overflow: auto;
}

.card {
    background-color: #fff;
    border: none;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

/* .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
} */

.card h5 {
    color: #fff;
    margin: 0;
    padding: 15px;
    font-size: 1.25rem;
}

.card p {
    color: #f8f9fa;
    margin: 0;
    padding: 15px;
    font-size: 1rem;
}

.table {
    color: #212529;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border-top: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #f8f9fa;
}

.table tr:nth-child(even) {
    background-color: #f8f9fa;
}
