body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a2e;
    color: #fff;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary: #232946;
    --secondary: #eebbc3;
    --secondary-hover: #f3d3d8;
    --thirty: #b8c1ec;
    --thirty-hover: #d5daf4;
    --bg-main: #121629;
    --card: #fffffe;
}

.card-hover:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 250px;
    width: 100%;
    object-fit: contain;
    padding: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .content {
    display: none;
    margin-bottom: 100px;
} */
.filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-select {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.card {
    background-color: #34495e;
    /* border: none; */
    border-radius: 5px;
    /* overflow: hidden; */
    /* position: relative; */
    padding: 20px;
    height: 450px;
    opacity: 0;
    transform: translateY(50px);
    width: 100%;
    background-color: #232946;
    padding: 20px;
    border-radius: 10px;
    border: 1.5px solid var(--thirty);
    animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-title,
.card-text,
.btn {
    color: #ecf0f1;
}

.btn {
    background-color: var(--secondary);
    border: none;
    border-radius: 8px;
    padding: 10px;
}

.btn:hover {
    background-color: var(--secondary-hover);
}

.categorys-title {
    text-align: center;
    margin: 40px 0 0 0;
    font-size: 1.5rem;
    color: var(--secondary);
}

.navbar {
    transition: top 0.3s, background-color 0.3s;
    padding: 10px 100px;
}

.navbar.scrolled {
    background: var(--bg-main 0.5);
    border-bottom: 1px solid var(--thirty);
    backdrop-filter: blur(40px);
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
    color: #f0f0f0;
}

.navbar .navbar-nav .nav-link.active {
    color: #fff;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

.navbar-nav .nav-item .bi {
    font-size: 1.5rem;
}

.search {
    --input-line: #cccccc;
    --input-text-color: #808080;
    --input-text-hover-color: transparent;
    --input-border-color: #808080;
    --input-border-hover-color: #999999;
    --input-bg-color: #333333;
    --search-max-width: 250px;
    --search-min-width: 150px;
    --border-radius: 5px;
    --transition-cubic-bezier: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-box {
    max-width: var(--search-max-width);
    min-width: var(--search-min-width);
    height: 35px;
    border: 1px solid var(--thirty);
    border-radius: var(--border-radius);
    padding: 5px 15px;
    background: var(--input-bg-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: var(--transition-cubic-bezier);
}

.search-box:hover {
    border-color: var(--input-border-hover-color);
}

/*Section input*/
.search-field {
    position: relative;
    width: 100%;
    height: 100%;
    left: -5px;
    border: 0;
}

.input {
    width: calc(100% - 29px);
    height: 100%;
    border: 0;
    border-color: transparent;
    font-size: 1rem;
    padding-right: 0px;
    color: var(--input-line);
    background: var(--input-bg-color);
    border-right: 2px solid var(--input-border-color);
    outline: none;
}

.input::-webkit-input-placeholder {
    color: var(--input-text-color);
}

.input::-moz-input-placeholder {
    color: var(--input-text-color);
}

.input::-ms-input-placeholder {
    color: var(--input-text-color);
}

.input:focus::-webkit-input-placeholder {
    color: var(--input-text-hover-color);
}

.input:focus::-moz-input-placeholder {
    color: var(--input-text-hover-color);
}

.input:focus::-ms-input-placeholder {
    color: var(--input-text-hover-color);
}
.navbar-nav {
    display: flex;
    align-items: center;
}
/*Search button*/
.search-box-icon {
    width: 52px;
    height: 35px;
    position: absolute;
    top: -6px;
    right: -21px;
    background: transparent;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: var(--transition-cubic-bezier);
}

.search-box-icon:hover {
    background: var(--input-border-color);
}

.btn-icon-content {
    width: 52px;
    height: 35px;
    top: -6px;
    right: -21px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: var(--transition-cubic-bezier);
    opacity: 0.4;
}

.btn-icon-content:hover {
    opacity: 0.8;
}

.search-icon {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 7px;
    right: 15px;
}

/* responsive code */
@media (max-width: 1280px) {
    .card-img-top {
        width: 80%;
    }
}
