:root {
  --primary: #B8C1EC;
  --secondary: #EEBBC3;
  --thirty: #B8C1EC;
  --bg-color: #121629;
}

body {
  background: rgba(18, 22, 41, 1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 20px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1.5px solid var(--primary);
}

.form-label {
  color: #fff;
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
}

.form-control:focus {
  box-shadow: none;
  border-color: #fff;
}

.btn-primary {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  width: 100%;
  padding: 10px;
  color: #fff;
}

.btn-primary:hover {
  background: rgba(255, 255, 255, 0.5);
}

.card-header,
.card-body {
  color: #fff;
}

.circle {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 600px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: rgba(238, 187, 195, 0.63);
  filter: blur(200px);
  -webkit-filter: blur(200px);
}

.circle2 {
  position: absolute;
  bottom: -5%;
  right: -5%;
  width: 600px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: rgba(184, 193, 236, 0.63);
  filter: blur(180px);
  -webkit-filter: blur(180px);
}