.sidebarLeft {
    color: white;
}

.scrollable-table {
    max-height: 300px;
    overflow-y: auto;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.section {
    padding: 0 50px;
}
.emailSidebarleft {
    font-weight: lighter;
    font-size: 13px;
    color: #d0cccc;
}

.sidebarLeft a {
    text-decoration: none;
    color: white;
}
.sidebarRight {
    position: relative;
    overflow: hidden;
}

.circleProfilBlue, .circleProfilPink {
    position: absolute;
    width: 350px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    filter: blur(140px);
    -webkit-filter: blur(140px);
}
.circleProfilBlue {
    background: rgba(184, 193, 236, 0.63);
}
.circleProfilPink {
    background: rgba(238, 187, 195, 0.63);
}

/* edit scrollbar */

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    border: 1px solid #dee2e6; /* Menambahkan border pada tabel */
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #dee2e6; /* Menambahkan border pada sel tabel */
}

.table th {
    background-color: #f2f2f2;
    color: #333;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}
