:root {
    --primary: #232946;
    --secondary: #eebbc3;
    --thirty: #b8c1ec;
    --bg-main: #121629;
    --card: #fffffe;
}
body {
    color: #fff;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
  background: var(--secondary);
}

@media (max-width: 1200px) {
    body {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    body {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}